@namespace AIStudio.Blazor.UI
@using OneOf
@inherits LayoutComponentBase

<div class="container__b__0">
    <div class="lang">
        <!--todo: selectLang-->
    </div>
    <div class="content">
        <div class="top">
            <div class="header">
                <a>
                    <img alt="logo" class="logo" src="assets/logo.svg" />
                    <span class="title">AIStudio Blazor</span>
                </a>
            </div>
            <div class="desc">AIStudio Blazor</div>
        </div>
        @Body
    </div>
    <AIStudio.Blazor.UI.Components.FooterContent />
</div>
