<Footer Style="text-align: center;">
    <Text>框架地址</Text><a target="_blank" href="https://github.com/ant-design-blazor/ant-design-blazor">AIStudio.Blazor.AClient</a><br>
    <Text>使用Blazor组件库</Text><a target="_blank" href="https://github.com/ant-design-blazor/ant-design-blazor">Ant Design Blazor</a><br>
</Footer>

@code
{
  
}



